<nav  class="nav navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-header">
        <ul class="nav navbar-nav">
            <li class="nav-item" ><a class="nav-link" href="http://bluntsoftware.com">&copy;  Blunt Software 2014-2016</a></li>
        </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item nav-end"><a >10GB of <strong>250GB</strong> Free</a></li>
        </ul>
    </div>
</nav>

