<div class="row">

    <div class="col-lg-6 col-md-4 col-sm-12">
        <div class="row panel" ng-click="get(item.id)"  id="{{item.id}}" ng-repeat="item in modelList.rows">
            <div class="col-lg-4">{{item.id}}</div>
            <div class="col-lg-4">{{item.streetaddress}}</div>
            <div class="col-lg-4">{{item.city}}</div>
            <div class="col-lg-4">{{item.state}}</div>
            <div class="col-lg-4">{{item.zipcode}}</div>
            <div class="col-lg-4">{{item.phoneno}}</div>
            <div class="col-lg-4">{{item.owner}}</div>
        </div>
    </div>
    <div class="col-lg-6 col-md-8 col-sm-0">
        <div class="row">
    <div class="col-lg-12">id : {{modelData.id}}</div>
        </div>
        <div class="row">
    <div class="col-lg-12">streetaddress : {{modelData.streetaddress}}</div>
        </div>
        <div class="row">
    <div class="col-lg-12">city : {{modelData.city}}</div>
        </div>
        <div class="row">
    <div class="col-lg-12">state : {{modelData.state}}</div>
        </div>
        <div class="row">
    <div class="col-lg-12">zipcode : {{modelData.zipcode}}</div>
        </div>
        <div class="row">
    <div class="col-lg-12">phoneno : {{modelData.phoneno}}</div>
        </div>
        <div class="row">
    <div class="col-lg-12">owner : {{modelData.owner}}</div>
        </div>
    </div>
</div>