

<!-- id school weekDay  -->

<form name="form" role="form" novalidate  class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength" ng-submit="create()">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="back()">&times;</button>
        <h4 class="modal-title" id="myDeviceLabel">Create or edit a Karateclass</h4>
    </div>
    <div class="modal-body">
            <div class="form-group">
                <label>ID</label>
                <input type="text" class="form-control" name="id"  ng-model="modelData.id" readonly>
            </div>
            <div class="form-group">
                <label>weekDay</label>
                <input type="text" class="form-control" name="weekDay" ng-model="modelData.weekDay" ng-minlength=1 ng-maxlength=255  >
            </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="back()">
            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
        </button>
        <button ng-disabled="form.$invalid" class="btn btn-primary" ng-click="save()">
            <span class="glyphicon glyphicon-save"></span> Save
        </button>
    </div>
</form>
